.navbar-head {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar-logo {
  height: 25px;
}

.header {
  padding-left: 25px;
  padding-right: 20px;
  height: 69px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #EFF1F3;
}

.header-search {
  display: flex;
  justify-content: space-evenly;
}

.header-location {
  background-color: var(--bs-white);
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  border-color: #002f34;
  border-width: 2px;
  border-style: solid;
}

.header-input {
  border-style: none;
  outline: none;
}

.header-search .header-search-icon {
  background-color: #002f34;
  min-width: 40px;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.item-search {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border-color: #002f34;
  border-width: 2px;
  border-style: solid;
  background-color: var(--bs-white);
}

.header-search-icon .search-icon {
  color: var(--bs-white);
  font-size: 25px;
}

.header-lang {
  display: flex;
  align-items: center;
  color: #002f34;
}

.header-login {
  padding-left: 11px;
  padding-right: 11px;
  font-size: 18px;
}